<h1 class=""> Transactions</h1>
<h1>Hello</h1>
<% @entities.each do |entity| %>
  <div class="">
    <div class="">
      <%= entity.name %>
    </div>
    <div class="">
      <%= link_to "Delete", group_entity_path(@group, entity), data:  { turbo_method: :delete }, class: "" %>
    </div>
  </div>
<% end %>
<div class="">
  <%= link_to 'New Category', new_group_entity_path(@group) ,  class: '' %>
</div>