<div class="flex flex-col justify-center items-center h-screen bg-gradient-to-b from-blue-500 to-lime-500">
  <div class="">
    <h1 class="text-white border-solid border-2 border-white rounded-tl-3xl rounded-br-3xl p-5 m-5 text-2xl font-bold">My Budget</h1>
  </div>
  <div class="">
    <%= link_to 'Log in', new_user_session_path , class: "text-white text-center bg-[#3778c2] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-full" %>
    <%= link_to 'Sign up', new_user_registration_path , class: "text-white text-center bg-[#3778c2] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-full" %>
  </div>
</div>